/ModernStore.Shared/obj
/.vs/ModernStore/v14/.suo
/.vs/ModernStore/v15/.suo
/.vs/ModernStore/v15/Server/sqlite3/db.lock
/.vs/ModernStore/v15/Server/sqlite3/storage.ide
/.vs/config/applicationhost.config
/.vs/restore.dg
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Api.deps.json
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Api.dll
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Api.pdb
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Api.runtimeconfig.dev.json
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Api.runtimeconfig.json
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Domain.dll
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Domain.pdb
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Infra.dll
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Infra.pdb
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Shared.dll
/ModernStore.Api/bin/Debug/netcoreapp1.1/ModernStore.Shared.pdb
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Api.deps.json
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Api.dll
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Api.pdb
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Api.runtimeconfig.dev.json
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Api.runtimeconfig.json
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Infra.dll
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Infra.pdb
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Api/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.Api/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.AssemblyInfo.cs
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.AssemblyInfoInputs.cache
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.csproj.CopyComplete
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.csproj.CoreCompileInputs.cache
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.csproj.FileListAbsolute.txt
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.csprojResolveAssemblyReference.cache
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.dll
/ModernStore.Api/obj/Debug/netcoreapp1.1/ModernStore.Api.pdb
/ModernStore.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ModernStore.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ModernStore.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.AssemblyInfo.cs
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.AssemblyInfoInputs.cache
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.csproj.CopyComplete
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.csproj.CoreCompileInputs.cache
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.csproj.FileListAbsolute.txt
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.csprojResolveAssemblyReference.cache
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.dll
/ModernStore.Api/obj/Debug/netcoreapp2.0/ModernStore.Api.pdb
/ModernStore.Api/obj/ModernStore.Api.csproj.nuget.cache
/ModernStore.Api/obj/ModernStore.Api.csproj.nuget.g.props
/ModernStore.Api/obj/ModernStore.Api.csproj.nuget.g.targets
/ModernStore.Api/obj/project.assets.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.Data.Tools.Schema.Sql.UnitTesting.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.Data.Tools.Schema.Sql.UnitTestingAdapter.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.Data.Tools.Schema.Sql.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.Data.Tools.Utilities.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.SqlServer.TransactSql.ScriptDom.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.deps.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.dll.config
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.pdb
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.runtimeconfig.dev.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.Tests.runtimeconfig.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Domain.pdb
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Shared.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp1.1/ModernStore.Shared.pdb
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/Microsoft.Data.Tools.Schema.Sql.UnitTesting.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/Microsoft.Data.Tools.Schema.Sql.UnitTestingAdapter.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.deps.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.dll.config
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.pdb
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.runtimeconfig.dev.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.Tests.runtimeconfig.json
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Domain.Tests/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.AssemblyInfo.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.AssemblyInfoInputs.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.Program.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.csproj.CopyComplete
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.csproj.CoreCompileInputs.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.csproj.FileListAbsolute.txt
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.csprojResolveAssemblyReference.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.dll
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/ModernStore.Domain.Tests.pdb
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.AssemblyInfo.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.AssemblyInfoInputs.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.Program.cs
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.csproj.CopyComplete
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.csproj.CoreCompileInputs.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.csproj.FileListAbsolute.txt
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.csprojResolveAssemblyReference.cache
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.dll
/ModernStore.Domain.Tests/obj/Debug/netcoreapp2.0/ModernStore.Domain.Tests.pdb
/ModernStore.Domain.Tests/obj/ModernStore.Domain.Tests.csproj.nuget.cache
/ModernStore.Domain.Tests/obj/ModernStore.Domain.Tests.csproj.nuget.g.props
/ModernStore.Domain.Tests/obj/ModernStore.Domain.Tests.csproj.nuget.g.targets
/ModernStore.Domain.Tests/obj/project.assets.json
/ModernStore.Domain/bin/Debug/netcoreapp2.0/ModernStore.Domain.deps.json
/ModernStore.Domain/bin/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Domain/bin/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Domain/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Domain/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.AssemblyInfo.cs
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.AssemblyInfoInputs.cache
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.csproj.CopyComplete
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.csproj.CoreCompileInputs.cache
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.csproj.FileListAbsolute.txt
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.csprojResolveAssemblyReference.cache
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Domain/obj/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Domain/obj/ModernStore.Domain.csproj.nuget.cache
/ModernStore.Domain/obj/ModernStore.Domain.csproj.nuget.g.props
/ModernStore.Domain/obj/ModernStore.Domain.csproj.nuget.g.targets
/ModernStore.Domain/obj/project.assets.json
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Infra.deps.json
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Infra.dll
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Infra.pdb
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Infra/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.AssemblyInfo.cs
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.AssemblyInfoInputs.cache
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.CopyComplete
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.CoreCompileInputs.cache
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.FileListAbsolute.txt
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.csprojResolveAssemblyReference.cache
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.dll
/ModernStore.Infra/obj/Debug/netcoreapp2.0/ModernStore.Infra.pdb
/ModernStore.Infra/obj/ModernStore.Infra.csproj.EntityFrameworkCore.targets
/ModernStore.Infra/obj/ModernStore.Infra.csproj.nuget.cache
/ModernStore.Infra/obj/ModernStore.Infra.csproj.nuget.g.props
/ModernStore.Infra/obj/ModernStore.Infra.csproj.nuget.g.targets
/ModernStore.Infra/obj/project.assets.json
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Domain.dll
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Domain.pdb
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Infra.deps.json
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Infra.dll
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Infra.pdb
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Shared.dll
/ModernStore.Infra2/bin/Debug/netcoreapp1.1/ModernStore.Shared.pdb
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Domain.dll
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Domain.pdb
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Infra.deps.json
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Infra.dll
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Infra.pdb
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Infra2/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.AssemblyInfo.cs
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.AssemblyInfoInputs.cache
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.csproj.CopyComplete
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.csproj.CoreCompileInputs.cache
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.csproj.FileListAbsolute.txt
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.csprojResolveAssemblyReference.cache
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.dll
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/ModernStore.Infra.pdb
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ModernStore.Infra2/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.AssemblyInfo.cs
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.AssemblyInfoInputs.cache
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.CopyComplete
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.CoreCompileInputs.cache
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.csproj.FileListAbsolute.txt
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.csprojResolveAssemblyReference.cache
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.dll
/ModernStore.Infra2/obj/Debug/netcoreapp2.0/ModernStore.Infra.pdb
/ModernStore.Infra2/obj/ModernStore.Infra.csproj.nuget.cache
/ModernStore.Infra2/obj/ModernStore.Infra.csproj.nuget.g.props
/ModernStore.Infra2/obj/ModernStore.Infra.csproj.nuget.g.targets
/ModernStore.Infra2/obj/project.assets.json
/ModernStore.Shared/bin/Debug/netcoreapp1.1/ModernStore.Shared.deps.json
/ModernStore.Shared/bin/Debug/netcoreapp1.1/ModernStore.Shared.dll
/ModernStore.Shared/bin/Debug/netcoreapp1.1/ModernStore.Shared.pdb
/ModernStore.Shared/bin/Debug/netcoreapp2.0/ModernStore.Shared.deps.json
/ModernStore.Shared/bin/Debug/netcoreapp2.0/ModernStore.Shared.dll
/ModernStore.Shared/bin/Debug/netcoreapp2.0/ModernStore.Shared.pdb
/ModernStore.userprefs
/modern-store-app2/.editorconfig
/modern-store-app2/.gitignore
/modern-store-app2/.vscode/launch.json
/modern-store-app2/.vscode
